<!doctype html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
<div class="container">

			<div class="st-container">

				<input type="radio" name="radio-set" checked="checked" id="st-control-1"/>
				<a href="#st-panel-1">Profile </a>
				<input type="radio" name="radio-set" id="st-control-2"/>
				<a href="#st-panel-2">Projects</a>
				<input type="radio" name="radio-set" id="st-control-3"/>
				<a href="#st-panel-3">Languages</a>
				<input type="radio" name="radio-set" id="st-control-4"/>
				<a href="#st-panel-4">Frameworks</a>
				<input type="radio" name="radio-set" id="st-control-5"/>
				<a href="#st-panel-5">Courses Completed</a>

				<div class="st-scroll">

					<!-- Placeholder text from http://hipsteripsum.me/ -->

					<section class="st-panel" id="st-panel-1">
            <div class="st-deco" data-icon="&#xf069;"></div>
						<h2>Profile</h2>
                        {% if username %}
						<p> Welcome to my website. I'm {{username}} .</p>
                        {% else %}
                        <p> Welcome to my website. I'm Abhishek and I graduated from BITS pilani in 2016. I like working on distributed systems .</p>
                        {% endif %}

					</section>

					<section class="st-panel st-color" id="st-panel-2">
						<div class="st-deco" data-icon="&#xf118;"></div>
						<h2>Projects</h2>
						<p>Hotel Recommendation system, Plagiarism Checker, Compiler Design</p>
					</section>

					<section class="st-panel" id="st-panel-3">
						<div class="st-deco" data-icon="&#xf0f4;"></div>
						<h2>Languages</h2>
						<p> Python, C/C++, Java, Go-lang</p>
					</section>

					<section class="st-panel st-color" id="st-panel-4">
						<div class="st-deco" data-icon="&#xf06c;"></div>
						<h2>Frameworks & Technologies </h2>
						<p>Docker, Kubernetes, APIs, Elasticsearch, NoSQL Db, Redis, Zookeeper, RabbitMQ</p>
					</section>

					<section class="st-panel" id="st-panel-5">
						<div class="st-deco" data-icon="&#xf004;"></div>
						<h2>Courses Completed</h2>
						<p>Pattern Recognition, Data Mining, Cryptography, Machine Learning</p>
					</section>

				</div><!-- // st-scroll -->

			</div><!-- // st-container -->

</div>